.logo {
    font-size: 2.5rem;    
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;    
    background-size: contain; 
    background-repeat: no-repeat;
    width: 17rem;
    height: 5rem;
    margin-top: 20px;
}

.imgLogo {
    width: 17rem !important;
    height: 5rem !important;
}

#flagImage-enUS, #flagImage-ptBR  {
    width: 61px;
    height: 35px;
}

#sunIcon, #moonIcon, #cloudMoonIcon {
    margin-right: 1.5rem;
}

@media screen and (max-width: 425px) {
    #flagImage-enUS, #flagImage-ptBR {
        width: 45px;
        height: 25px;
    }

    .imgLogo {
        width: 14rem !important;
        height: 4rem !important;
        margin-bottom: 0px !important;
    }

    .flag {
        margin-left: 10px !important;
    }

    #sunIcon, #moonIcon, #cloudMoonIcon {
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 320px) {
    #hero {
        padding-left: 0px !important
    }
}

@media screen and (max-width: 991px) {
    #dropdown-ptBR-li, #dropdown-enUS-li {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #dig-flags-900 {
        display: none;
    }
}