.p-button.p-button-rounded {
    border-radius: 2rem;
}

.p-button {
    color: #ffffff;
    background-color: #6366F1 !important;
    border: 1px solid #6366F1 !important;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
}

.p-component {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem !important;
    font-weight: normal !important;
}

.p-button.p-button-text {
    background-color: transparent;
    color: #6366F1;
    border-color: transparent;
}

.p-button .p-button-label {
    transition-duration: 0.2s;
}

.p-button-label {
    font-weight: 700;
}