<header class="header">
    
    <a href="#" class="logo"></a>    

    <div class="bx bx-menu" id="menu-icon" id="menu-icon"></div>

    <nav class="nav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#contact" style="margin-right: 1.5rem !important;">Contact</a>
        <a href="/pt-BR">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" width="45" height="45" />
        </a>
        <a href="/en-US">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg" width="45" height="45" />
        </a>        
        <div style="margin-left: 50px;min-width: 110px;">
            <input id="darkMode" type="checkbox" [checked]="darkMode" (change)="updateDarkMode($event)"/>
            <label for="darkMode" style="width: 100px;"></label>
        </div>
        <div style="margin-top: 8px;margin-left: 60px;">
            <button class="login-btn">Entrar</button>
        </div>
    </nav>

</header>
