* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;    
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;    
    background-size: contain; 
    background-repeat: no-repeat;
    width: 17rem;
    height: 5rem;
}

.flag {
    margin-left: 1.5rem !important;
    margin-top: 2px !important;
}

[data-bs-theme="dark"] :host ::ng-deep .logo {
    background-image: url('../../assets/images/logo-dark.svg');
}

[data-bs-theme="light"] :host ::ng-deep .logo {
    background-image: url('../../assets/images/logo.svg');
}

[data-bs-theme="dark"] :host ::ng-deep .header .nav a {
    color: white;
}

[data-bs-theme="light"] :host ::ng-deep .header .nav a {
    color: black;
}

[data-bs-theme="dark"] :host ::ng-deep .header .nav a:hover {
    color: rgb(0, 255, 0);
}

[data-bs-theme="light"] :host ::ng-deep .header .nav a:hover {
    color: rgb(0, 255, 0);
}

[data-bs-theme="dark"] :host ::ng-deep #dropdown-menu a:hover {
    color: rgb(0, 255, 0);
}

[data-bs-theme="light"] :host ::ng-deep #dropdown-menu a:hover {
    color: rgb(0, 255, 0);
}

.header .nav a {
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    margin-top: 5px;
}

.header .nav a.active {
    text-decoration: underline;
}

#menu-icon {
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    margin-left: 2.5rem;
    padding-top: 5px;
}

.margin-input-button {
    margin: 10px 10px 10px 10px;
}

/*
    Dark Light Switch
*/

label {
    position: relative;
    width: 110px;
    height: 50px;
    display: block;
    background: url('../../assets/images/light.gif');
    background-size: cover;
    background-position: center;
    border: 7px solid rgba(198, 247, 253, 0.3);
    cursor: pointer;
    transition: 1s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 180px;
    box-sizing: border-box;
}

label::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    background: #f2f2f2;
    border-radius: 50%;
    top: 8px;
    left: 8px;
    transition: 0.8s ease;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

label::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 13px solid rgba(198, 247, 253, 0.3);
    top: 4px;
    left: 4px;
    transition: 0.8s ease;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #9ad6f7;
    z-index: -1;
    transition: all 1s ease;
}

input:checked ~ label::after {
    left:  76px;
    transform: translateX(-100%);
    background: #777ba5;    
    top: 8px;
}

input:checked ~ label::before {
    left: 80px;
    border: 13px solid rgba(90, 79, 136, 0.7);
    transform: translateX(-100%);
    top: 4px;
}

input:checked ~ label {
    background: url('../../assets/images/dark.gif');
    background-size: cover;
    background-position: center;
    border: 7px solid rgba(90, 79, 136, 0.7);
}

input:checked ~ .background {
    background: #0e377c;
}

input {
    display: none;
}

.login-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;    
    padding: 6px 16px;        
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.open {
    display: block;
    margin-top: 50px;
    right: 40px;    
}

#dropdown-darkMode {
    margin-left: 35px !important;
    margin-bottom: 10px;
}

#dropdown-login {
    margin-top: 10px !important;
    margin-left: 35px !important;
    margin-bottom: 10px !important;
}

#dropdown-menu a {
    color: white;
}

[data-bs-theme="dark"] :host ::ng-deep .dropdown-menu {    
    background: rgba(255, 255, 255, 0.1);
}

[data-bs-theme="light"] :host ::ng-deep .dropdown-menu {
    background: rgba(0, 0, 0, 0.6);
}

.dropdown-flags {
    display: flex;
    justify-content: normal;
}

[data-bs-theme="dark"] :host ::ng-deep .login-btn {     
    background-color: #343a40;
    border: 1px solid #6c757d;
    color: #cccccc;
}

[data-bs-theme="light"] :host ::ng-deep .login-btn {
    background-color: #5bc0de;
    border: 1px solid #46b8da;
    color: #ffffff;
}

[data-bs-theme="dark"] :host ::ng-deep .login-btn:hover {
    background-color: #495057;
    color: #ffffff;
    border: 1px solid #566c73;
}

[data-bs-theme="light"] :host ::ng-deep .login-btn:hover {
    background-color: #409bc2;
    color: #e6e6e6;
    border: 1px solid #408c9e;
}

@media screen and (max-width: 1400px) {
    #home {
        display: none;
    }

    #dropdown-about, #dropdown-home, #dropdown-skills, #dropdown-contact, #dropdown-ptBR , #dropdown-enUS, #dropdown-darkMode, #dropdown-login {
        display: none;
    }
}

@media screen and (max-width: 1240px) {
    #about {
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    #dropdown-about, #dropdown-home {
        display: block;
    }

    a {
        margin-left: 1.65rem !important;
    }
}

@media screen and (max-width: 1180px) {
    #skills {
        display: none;
    }

    #dropdown-skills {
        display: block;
    }
}

@media screen and (max-width: 1040px) {
    #contact {
        display: none;
    }

    #dropdown-contact {
        display: block;
    }
}

@media screen and (max-width: 880px) {
    #flag-ptBR, #flag-enUS {
        display: none;
    }

    #dropdown-ptBR, #dropdown-enUS {
        display: block;
    }

    .open {
        display: block;
        margin-top: 60px;        
    }
}

@media screen and (max-width: 750px) {
    #divDarkMode {
        display: none;
    }

    #dropdown-darkMode {
        display: block;
    }
}

@media screen and (max-width: 560px) {
    #divLogin {
        display: none;
    }

    #dropdown-login {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    label {
        width: 90%;
    }    
}