<header class="header">
    
    <a href="#" class="logo"></a>    

    <nav class="nav">
        <a href="#home" id="home" i18n>Principal</a>
        <a href="#about" id="about" i18n>Sobre</a>
        <a href="#skills" id="skills" i18n>Habilidades</a>
        <a href="#contact" id="contact" i18n>Contato</a>
        <a href="/pt-BR" class="flag" id="flag-ptBR">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" width="40" height="40" />
        </a>
        <a href="/en-US" class="flag" id="flag-enUS">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg" width="45" height="45" />
        </a>        
        <div style="margin-left: 50px;min-width: 110px;" id="divDarkMode">
            <input id="darkMode" type="checkbox" [checked]="darkMode" (change)="updateDarkMode($event)"/>
            <label for="darkMode" style="width: 100px;"></label>
        </div>
        <div style="margin-top: 8px;margin-left: 35px;" id="divLogin">
            <button class="login-btn">Entrar</button>
        </div>
        <div id="menu-icon">
            <i class="bx bx-menu" (click)="dropdownMenuAction()"></i>
        </div>

        <div class="dropdown-menu" id="dropdown-menu">
            <li>
                <a href="#home" id="dropdown-home" i18n>Principal</a>
            </li>
            <li>
                <a href="#about" id="dropdown-about" i18n>Sobre</a>
            </li>
            <li>
                <a href="#skills" id="dropdown-skills" i18n>Habilidades</a>
            </li>
            <li>
                <a href="#contact" id="dropdown-contact" i18n>Contato</a>
            </li>
            <li>
                <div class="dropdown-flags">
                    <a href="/pt-BR" class="flag" id="dropdown-ptBR">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" width="40" height="40" />
                    </a>            
                    <a href="/en-US" class="flag" id="dropdown-enUS">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg" width="45" height="45" />
                    </a>
                </div>
            </li>   
            <li>
                <div style="margin-left: 50px;min-width: 110px;" id="dropdown-darkMode">
                    <input id="darkMode" type="checkbox" [checked]="darkMode" (change)="updateDarkMode($event)"/>
                    <label for="darkMode" style="width: 100px;"></label>
                </div>
            </li>
            <li>
                <div style="margin-top: 8px;margin-left: 35px;" id="dropdown-login">
                    <button class="login-btn" i18n>Entrar</button>
                </div>
            </li>
        </div>
    </nav>

    

</header>
