<header class="header">
    
    <a href="#" class="logo"></a>    

    <nav class="nav">
        <a href="#home" id="home" i18n>Principal</a>
        <a href="#about" id="about" i18n>Sobre</a>
        <a href="#skills" id="skills" i18n>Habilidades</a>
        <a href="#contact" id="contact" i18n>Contato</a>
        <a href="/pt-BR" class="flag" id="flag-ptBR">
            <img src="https://www.curitiba.pr.leg.br/atividade-parlamentar/legislacao/imagens/bandeira-do-brasil.png" width="61" height="35">
        </a>
        <a href="/en-US" class="flag" id="flag-enUS" style="padding-top: 5px !important;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Flag_of_the_United_States.png" width="61" height="35">
        </a>        
        <div style="margin-left: 50px;min-width: 110px;margin-top: -7px;" id="divDarkMode">
            <input id="darkMode" type="checkbox" [checked]="darkMode" (change)="updateDarkMode($event)"/>
            <label for="darkMode" style="width: 100px;"></label>
        </div>
        <div style="margin-top: 4px;margin-left: 35px;" id="divLogin">
            <button class="login-btn" i18n>Entrar</button>
        </div>
        <div id="menu-icon">
            <i class="bx bx-menu" (click)="dropdownMenuAction()"></i>
        </div>

        <div class="dropdown-menu" id="dropdown-menu">
            <li id="dropdown-home-li">
                <a href="#home" id="dropdown-home" i18n>Principal</a>
            </li>
            <li id="dropdown-about-li">
                <a href="#about" id="dropdown-about" i18n>Sobre</a>
            </li>
            <li id="dropdown-skills-li">
                <a href="#skills" id="dropdown-skills" i18n>Habilidades</a>
            </li>
            <li id="dropdown-contact-li">
                <a href="#contact" id="dropdown-contact" i18n>Contato</a>
            </li>
            <li id="dropdown-flags-li">
                <div class="dropdown-flags">
                    <a href="/pt-BR" class="flag" id="dropdown-ptBR">
                        <img src="https://www.curitiba.pr.leg.br/atividade-parlamentar/legislacao/imagens/bandeira-do-brasil.png" width="61" height="35">
                    </a>            
                    <a href="/en-US" class="flag" id="dropdown-enUS">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Flag_of_the_United_States.png" width="61" height="35">
                    </a>
                </div>
            </li>   
            <li id="dropdown-darkMode-li">
                <div style="min-width: 110px;" id="dropdown-darkMode">
                    <input id="darkMode" type="checkbox" [checked]="darkMode" (change)="updateDarkMode($event)"/>
                    <label for="darkMode" style="width: 100px;"></label>
                </div>
            </li>
            <li id="dropdown-login-li">
                <div id="dropdown-login">
                    <button class="login-btn" i18n>Entrar</button>
                </div>
            </li>
        </div>
    </nav>

    

</header>
