<div style="position: relative; padding-top: 10px;">
    <div class="flex lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0" style="display: flex !important; justify-content: flex-end;">
        <!--<div style="padding-right: 12px;">
            <a (click)="redirectToLanguage('pt-BR')" class="flag" id="dropdown-ptBR">
                <img src="https://www.curitiba.pr.leg.br/atividade-parlamentar/legislacao/imagens/bandeira-do-brasil.png" width="61" height="35">
            </a>
            <a (click)="redirectToLanguage('en-US')" class="flag" id="dropdown-enUS" style="margin-right: 10px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Flag_of_the_United_States.png" width="61" height="35">
            </a>
        </div>-->
        <fa-icon [icon]="faSun" class="fa-2x" style="margin-right: 1.5rem;" (click)="changeTheme('mdc-light-indigo', 'light')"> </fa-icon>
        <fa-icon [icon]="faCloudMoon" class="fa-2x" style="margin-right: 1.5rem;" (click)="changeTheme('bootstrap4-dark-blue', 'dark')"> </fa-icon>
        <fa-icon [icon]="faMoon" class="fa-2x" style="margin-right: 1.5rem;" (click)="changeTheme('mdc-dark-indigo', 'dark')"> </fa-icon>
    </div>
</div>